body {
    background: white;
    margin: 0;
    height: 40vh;
    display: grid;
    place-items: center;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(6, 100px); 
    grid-auto-rows: 90%; 
    gap: 8px; 
  }
  
  .purple {
    background: #9b59b6;
    border-radius: 8px;
  }
  
  .green {
    background: #27ae60;
    border-radius: 8px;
  }
  
  .orange {
    background: #e74c3c;
    border-radius: 8px;
  }
  
  .blue {
    background: #3498db;
    border-radius: 8px;
  }
  
  .box1 {
    grid-column: span 2;
    grid-row: span 2;
  }
  
  .box2 {
    grid-column: span 2;
    grid-row: span 3;
  }
  
  .box3 {
    grid-column: span 1;
    grid-row: span 1;
  }
  
  .box4 {
    grid-column: span 1;
    grid-row: span 1;
  }
  
  .box5 {
    grid-column: span 1;
    grid-row: span 2;
  }
  
  .box6 {
    grid-column: span 1;
    grid-row: span 1;
  }
  
  .box7 {
    grid-column: span 2;
    grid-row: span 2;
  }
  
  .box8 {
    grid-column: span 1;
    grid-row: span 1;
  }
  
  .box9 {
    grid-column: span 2;
    grid-row: span 1;
  }
  
  .box10 {
    grid-column: span 1;
    grid-row: span 2;
  }
  
  .box11 {
    grid-column: span 3;
    grid-row: span 3;
  }
  
  .box12 {
    grid-column: span 2;
    grid-row: span 1;
  }
  
  .box13 {
    grid-column: span 2;
    grid-row: span 2;
  }
  
  .box14 {
    grid-column: span 2;
    grid-row: span 1;
  }
  
